@mixin btn($bg: $color-white, $color: $color-dark) {
  border-radius: 8px;
  background-color: $bg;
  color: $color;
  cursor: pointer;
  transition: background-color 200ms ease;
}

@mixin text(
  $size: 14px,
  $weight: $font-weight-normal,
  $line: 20px,
  $color: $color-dark
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  color: $color;
}

@mixin checkbox-base {
  width: 20px;
  height: 20px;
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid #8a8a8a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 200ms ease;
}