:root {
  --Color-text: #303030;
  --Color-bg: #F1F1F1;
  --Color-link: #0070F3;
  --Color-border: #E3E3E3;
  --Color-status-draft-bg: #f3f3f3;
  --Color-status-draft-text: #666;
  --Color-status-active-bg: #CDFEE1;
  --Color-status-active-text: #0C5132;
  --Color-success: #29845A;
  --Radius: 12px;
  --Font-main: 'Inter', sans-serif;
}

body {
  background: var(--Color-bg);
  font: 16px/1.5 var(--Font-main);
  color: var(--Color-text);
}

.container {
  width: 100%;
  max-width: 1376px;
  margin: 0 auto;
  padding: 16px;
}

.page-heading {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}

.tabs {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
  background: #fff;              
  padding: 16px;               
  border-radius: var(--Radius) var(--Radius);
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.tab {
  padding: 8px;
  color: #666;
  cursor: pointer;
  position: relative;
  
}

.tab.active {
  color: var(--Color-success);
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--Color-success);
}

.table {
  width: 100%;
  border-radius: var(--Radius);
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.table th, .table td {
  padding: 10px 16px;
  text-align: left;
}

.table td{
  border-top: 1px solid var(--Color-border);
}

.table a {
  color: var(--Color-link);
}

.status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.status.draft {
  background-color: var(--Color-status-draft-bg);
  color: var(--Color-status-draft-text);
}

.status.active {
  background-color: var(--Color-status-active-bg);
  color: var(--Color-status-active-text);
}

.icon {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 100%;
}